body {
    background: url(Portfolio/Images/galaxy2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Century Gothic";
	color: #ffffff;
}

h1 {
	font-size: 5em;
	text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

p {
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

table {
	border: 3px solid #99ffdd;
	text-align:center;
	border-spacing:5px;
	border-radius:15%;
}

a:visited, a:link {
	color: #66b3ff;
	text-decoration:underline;
}

a:hover{
	text-decoration: none;
	background-color: #ffffff;
	color:#ffffff ;
}